@page "{id}"
@using OnlineShop.web.Convertor
@model OnlineShop.web.Pages.Admin.Users.DeleteUser

@{
    ViewData["Title"] = "حذف کاربر";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            حذف کاربر
        </div>
        <div class="panel-body">
            <form method="post">
                <input type="hidden" name="UserId" value="@ViewData["UserId"].ToString()"/>

                <dl class="dl-horizontal">
                    <dt>نام کاربری : </dt>
                    <dd>@Model.InformationUserViewModel.UserName</dd>
                    <dt>ایمیل : </dt>
                    <dd>@Model.InformationUserViewModel.Email</dd>
                    <dt>موجودی کیف پول : </dt>
                    <dd>@Model.InformationUserViewModel.Wallet</dd>
                    <dt>تاریخ عضویت : </dt>
                    <dd>@Model.InformationUserViewModel.RegisterDate.ToShamsi()</dd>
                    <dt></dt>
                    <dd>
                        <a href="/admin/users" class="btn btn-success">بازگشت</a>
                        <input type="submit" value="حذف" class="btn btn-danger mt-2 p-2"/>
                    </dd>
                </dl>
            </form>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>